.MainPanel{
    height: 90%;
    width: 90%;  /* увеличил с 69% */
    margin-left: 5%;  /* уменьшил отступ */
    display: flex;
    flex-direction: column;
}

.MainPanelHead{
    height: 15%;
    width: 100%;
    text-align: left;
    flex-shrink: 0;
}

.MainPanelHeadH1{
    font-size: 2vh;
}

.MainPanelHeadText{
    font-size: 1.5vh;
}

.MainPanelContainer{
    flex: 1;
    overflow-y: auto;
    width: 100%;
    margin: 10px 0;
}

.MainPanelButtonContainer{
    height: 10%;
    flex-shrink: 0;
    display: flex;
    gap: 10px;
}

.MainPanelButtonContainer button {
    height: 69%;
    width: 44%;
    border-radius: 14px;
    background-color: #4669B0;
    border-color: #4669B0;
    color: white;
    cursor: pointer;
}

.MainPanelButtonContainer button:first-child {
    background-color: #6c757d;
}

.MainPanelButtonContainer button:last-child {
    background-color: #4669B0;
    border-color: #4669B0;
}