.TitleBlock{
    width: 100%;
    height: 72vh;
}

.TitleBlockImg{
    float: left;
    width: 49%;
    height: 98%;
}

.TitleBlockContainer{
    float: right;
    width: 49%;
    height: 98%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(232 232 232 / 10.8%), rgb(72 100 111 / 60%)), url("../../../assets/SideBackground/SideBackground.webp");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
}

.TitleBlockH1{
    color: white;
    font-size: 8vh;
    margin: 4%;
    margin-left: 20%;
    text-align: left;
    font-family: 'Verdana';
}

.TitleBlockText{
    color: white;
    font-size: 3vh;
    width: 70%;
    margin: 1%;
    text-align: left;
    margin-left: 11%;
}

.TitleBlockLink{
    width: 25%;
    height: 10%;
    text-decoration: none;
}

.TitleBlockButton{
    width: 100%;
    height: 100%;
    margin: 4%;
    background-color: #000033;
    border-color: #000033;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.TitleBlockButtonText{
    display: inline-block;
    font-size: 1.5vh;
}

.TitleBlockButtonImg{
    display: inline-block;
}

@media (max-width: 1400px) {
    .TitleBlockH1{
        font-size: 7.5vh;
    }
    .TitleBlockText{
        font-size: 4.4vh;
    }
    .TitleBlockButtonText{
        font-size: 2.5vh;
    }
    .TitleBlockLink{
        width: 30%;
    }
}

@media (max-width: 1200px) {
    .TitleBlockH1{
        font-size: 6.9vh;
    }
    .TitleBlockText{
        font-size: 4.4vh;
    }
    .TitleBlockButtonText{
        font-size: 2.8vh;
    }
    .TitleBlockLink{
        width: 32%;
    }
}

@media (max-width: 1024px) {
    .TitleBlockH1{
        font-size: 6.3vh;
    }
    .TitleBlockText{
        font-size: 4vh;
    }
    .TitleBlockButtonText{
        font-size: 2.8vh;
    }
    .TitleBlockLink{
        width: 35%;
    }
}

@media (max-width: 1000px) {
    .TitleBlockH1{
        font-size: 7.9vh;
    }
    .TitleBlockText{
        font-size: 5vh;
    }
    .TitleBlockButtonText{
        font-size: 3.5vh;
    }
    .TitleBlockLink{
        width: 38%;
    }
}

@media (max-width: 900px) {
    .TitleBlockH1{
        font-size: 7vh;
    }
    .TitleBlockText{
        font-size: 4.8vh;
    }
    .TitleBlockButtonText{
        font-size: 3.9vh;
    }
    .TitleBlockLink{
        width: 40%;
    }
}

@media (max-width: 768px) {
    .TitleBlockH1{
        font-size: 6.3vh;
    }
    .TitleBlockText{
        font-size: 4.4vh;
    }
    .TitleBlockButtonText{
        font-size: 3.9vh;
    }
    .TitleBlockLink{
        width: 42%;
    }
}

@media (max-width: 650px) {
    .TitleBlockH1{
        font-size: 5.5vh;
    }
    .TitleBlockText{
        font-size: 3.9vh;
    }
    .TitleBlockButtonText{
        font-size: 3.6vh;
    }
    .TitleBlockLink{
        width: 45%;
    }
}

@media (max-width: 550px) {
    .TitleBlockH1{
        font-size: 4.8vh;
    }
    .TitleBlockText{
        font-size: 3.6vh;
    }
    .TitleBlockButtonText{
        font-size: 3.5vh;
    }
    .TitleBlockLink{
        width: 48%;
    }
}

@media (max-width: 450px) {
    .TitleBlockH1{
        font-size: 4.4vh;
    }
    .TitleBlockText{
        font-size: 3.5vh;
    }
    .TitleBlockButtonText{
        font-size: 3.1vh;
    }
    .TitleBlockLink{
        width: 50%;
    }
}