.AboutMainBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AboutMainBlockH1Container{
    margin-top: 4%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AboutMainBlockH1{
    font-size: 4vh;
}

.AboutMainBlockBlockContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}